.bg{
    background-image: url("../../public/Recharge.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.svgBg{
    background-image: url("../../public/Hqq4.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}